<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>Work</td>
            <td>Amount</td>
            <td>Date</td>
            <td>Start Time</td>
            <td>User</td>
            <td>Total Amount</td>
            <td>Action</td>
        </tr>
        {% for i in auction %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td><img src="{{i.artwork.artwork_photo.url}}" width="100" height="100" alt=""></td>
            <td>{{i.auctionhead_amount}}</td>
            <td>{{i.auctionhead_todate}}</td>
            <td>{{i.auction_starttime}}</td>
            <td>{{i.user}}</td>
            <td>{{i.auction_totalamount}}</td>
            <td>
                Payment Completed
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>